[Desktop Entry]
Type=Application
Name=OpenClonk Documentation (German)
Name[de]=OpenClonk-Dokumentation (Deutsch)
Comment=HTML documentation for OpenClonk development.
Comment[de]=Eine HTML-Dokumentation zur OpenClonk-Entwicklung.
Icon=openclonk-docs
Exec=xdg-open file:///usr/share/doc/openclonk-devel/html/de/sdk/index.html
Categories=Development;Documentation;StrategyGame;
StartupNotify=true
